.nav {
  position: absolute;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  z-index: 3;

  padding-top: 118px;
  padding-right: var(--padding-mobile);

  background-color: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);

  transform: translateX(100%);
}

.open {
  transform: translateX(0);
  width: 70vw;
  transition: var(--transition);
}

.mobMenuContainer {
  display: flex;
  flex-direction: column;
  padding-left: 32px;
}

@media (min-width: 601px) {
  .nav {
    display: none;
  }
}
@media (max-width: 320px) {
  .nav {
    width: 100vw;
    left: 0;
  }
}
