.gridTechnology {
  grid-template-columns: 48% 1fr 1fr;
  grid-template-rows: 1fr auto 1fr 120px;
  grid-column-gap: 1vw;
  grid-template-areas:
    '.       .   . '
    'content pic pic '
    '.  pic pic '
    'nav     pic pic ';
}

.pictureFit {
  object-fit: cover;
  min-height: 0;
}

.tabsPictureContainer {
  position: relative;
}

.pictureContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}

.image {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  right: 0;
}

@media (max-width: 810px) {
  .gridTechnology {
    grid-template-columns: minmax(240px, 574px);
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      'content'
      'nav'
      'pic';
    justify-items: center;
    align-self: center;
  }
  .tabsPictureContainer {
    margin-top: 32px;
    position: relative;
  }
  .image {
    position: relative;
  }

  .pictureContainer {
    display: flex;
  }

  .description {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .description {
    text-align: center;
  }
}
@media (max-width: 412px) {
  .gridTechnology {
    grid-template-columns: minmax(300px, 100%);
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      'pic'
      'nav'
      'content';
    justify-items: center;
    align-self: center;
  }
  .tabsPictureContainer {
    width: 100%;
    border-bottom: 1px solid var(--mountain-fig);
  }
  .image {
    max-height: 222px;
    width: initial;
    left: 50%;
    transform: translateX(-50%);
  }
}
