.menuItem {
  display: inline-flex;
  align-items: center;
  height: 100%;
  border-bottom: 3px solid transparent;
  transition: var(--transition);
  cursor: pointer;

  font-family: 'Barlow Condensed', sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  margin-right: 14px;
  text-transform: uppercase;

  text-decoration: none;
}

.menuItem:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  transition: var(--transition);
}

.num {
  font-weight: 700;
  margin-right: 14px;
}

.active {
  border-bottom: 3px solid var(--white);
}

@media (max-width: 768px) {
  .menuItem {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2.3625px;
  }
  .num{
    display: none;
  }
}
