.nav {
  height: 100%;
  display: flex;
  margin-left: 30px;
}

.itemMargin {
  margin-right: 48px;
}

.nav > div + div {
  margin-left: 48px;
}

@media (max-width: 768px) {
  .nav > div + div {
    margin-left: 36px;
  }
}

@media (max-width: 600px) {
 .nav{
   display: none;
 }
}
