.nav {
  height: 100%;
  display: flex;
  align-items: center;
}

.itemMargin {
  margin-right: 48px;
}

.nav > div + div {
  margin-left: 48px;
}

@media (max-width: 810px) {
  .nav > div + div {
    margin-left: 36px;
  }
}

@media (max-width: 768px) {
  .nav {
    display: none;
  }
}
