.mobMenuCloseContainer {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: right;

  margin-bottom: 65px;
}

.mobMenuClose {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  cursor: pointer;
}
