:root {
  --black: #0b0d17;
  --white: #ffffff;
  --mountain-fig: #383b4b;
  --tropical-blue: #d0d6f9;
  --primary-color: var(--white);
  --secondary-color: var(--tropical-blue);

  --tablet: 769px;
  --tablet-iPad: 810px;
  --mobile-iPone: 375px;
  /* --mobile: 412px; */
  --mobile: 500px;
  --mobile-l: 600px;

  --width-primary: 1440px;
  --width-secondary: 1116px;

  --transition: all 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);

  --padding-tablet: 40px;
  --padding-mobile: 24px;

  --header-height: 96px;
}

@media (max-width: 810px) {
  :root {
  }
}
