* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;

  font-family: 'Barlow', sans-serif;
  /* font-family: 'Barlow Condensed', sans-serif;*/
  /* font-family: 'Bellefair', serif; */

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: var(--primary-color);
  background-color: var(--black);
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
