.wrapper {
  max-width: var(--width-primary);
  margin-left: auto;
  margin-right: auto;
  padding-left: 165px;
  padding-right: 165px;
}
.wordWrap {
  word-wrap: break-word;
}

/* --width = 1116px */
@media (max-width: 1116px) {
  .wrapper {
    padding-left: var(--padding-tablet);
    padding-right: var(--padding-tablet);
  }
}
@media (max-width: 412px) {
  .wrapper {
    padding-left: var(--padding-mobile);
    padding-right: var(--padding-mobile);
  }
}
