.nav {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.nav > button + button {
  margin-top: 48px;
}

@media (max-width: 810px) {
  .nav {
    height: auto;
    flex-direction: row;
    margin-top: 57px;
    margin-bottom: 44px;
  }
  .nav > button + button {
    margin-top: initial;
    margin-left: 16px;
  }
}

@media (max-width: 500px) {
  .nav {
    margin-top: 32px;
  }
}
