.nav {
  display: flex;
}

.nav > div + div {
  margin-left: 48px;
}

@media (max-width: 810px) {
  .nav {
    margin-top: 40px;
  }
  .nav > div + div {
    margin-left: 36px;
  }
}

@media (max-width: 500px) {
  .nav {
    margin-top: 32px;
  }
}
