.header {
  height: var(--header-height);
  width: 100%;
  position: fixed;
  z-index: 2;

  align-items: center;

  max-width: var(--width-primary);

  display: grid;
  grid-template-columns: 162px 1fr 162px;
  grid-template-rows: 1fr;
  align-content: center;

  margin-top: 40px;
}

/* .header::after{
  display: block;
  content: "";
  background-color: rgba(255, 255, 255, 0.04);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40%;
  width: 100%;

  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  z-index: -1;
} */

.background {
  position: absolute;
  top: 0;
  bottom: 0;

  left: 80%;
  width: 100vw;

  background-color: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  z-index: -1;
}

.logoContainer {
  display: flex;
  height: 100%;
  align-items: center;
}

.logo {
  justify-self: center;
}

.menuContainer {
  height: 100%;
  display: flex;
  align-items: center;
  max-width: var(--width-secondary);
  position: relative;
  justify-content: space-between;
  column-gap: 30px;
}

.line {
  width: 100%;
  height: 1px;
  opacity: 0.25;
  background-color: var(--white);
}

.headerDecoration {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
}

@media (max-width: 1116px) {
  .header {
    grid-template-columns: auto 1fr;
    padding-left: var(--padding-tablet);
    padding-right: var(--padding-tablet);
  }
  .headerDecoration {
    padding-left: 3vw;
  }

  .menuContainer {
    display: none;
  }
}

@media (max-width: 810px) {
  .line {
    display: none;
  }
  .background {
    left: 110%;
  }
}

@media (max-width: 768px) {
  .header {
    margin-top: initial;
  }
}
