.tabDescription {
  margin-top: 37px;
  width: 100%;
  z-index: 1;
}

.role {
  margin-bottom: 15px;
  opacity: 0.5;
}

.name {
  white-space: nowrap;
  margin-bottom: 27px;
}

.description {
  max-width: 444px;
  color: var(--secondary-color);
}

@media (max-width: 810px) {
  .description {
    text-align: center;
    min-width: 100%;
  }
  .name {
    white-space: initial;
    margin-bottom: 16px;
  }
}

@media (max-width: 500px) {
  .tabDescription {
    margin-top: 32px;
    padding-bottom: 80px;
  }
}
