.tabDescription {
  margin-top: 37px;
  width: 100%;
}

.name {
  margin-bottom: 14px;
}

.description {
  margin-bottom: 54px;
  color: var(--secondary-color);
}

.factsContainer {
  margin-top: 28px;
  display: flex;
  width: 100%;
  margin-top: 28px;
}

.hr {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 1px;

  border: none;
  background: var(--mountain-fig);
}

.factTitle {
  font-family: 'Barlow Condensed', sans-serif;

  font-size: 14px;
  line-height: 17px;

  letter-spacing: 2.3625px;
  text-transform: uppercase;

  margin-bottom: 12px;
}

.fact {
  width: 50%;
}

.factDescription {
  /* width: 50%; */
  font-family: Bellefair, serif;

  font-size: 28px;
  line-height: 32px;

  text-transform: uppercase;

  color: var(--primary-color);
}

@media (max-width: 810px) {
  .description {
    margin-bottom: 48px;
  }
}
@media (max-width: 500px) {
  .description{
    margin-bottom: 32px;
  }
  .factsContainer {
    flex-direction: column;
    align-items: center;
  }
  .factsContainer{
    margin-top: 32px;
  }
  .fact + .fact{
    margin-top: 32px;
  }
}
